h1, h2, h3, h4, h5, h6 {
  font-family: "Poller One", cursive;
  color: black;
  text-decoration: underline; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 10px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 22.5px; }

h6 {
  font-size: 20px; }

p {
  font-family: "Oxygen", sans-serif; }

a {
  font-family: "Oxygen", sans-serif;
  color: #2f2f2f;
  text-decoration: none; }

body {
  margin: 0px;
  background-color: #6d6d6d; }

.main {
  width: 100%;
  margin: 0px; }

.boiteLogo {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ececec; }

.logoCharlyR {
  width: 80%;
  height: 100px;
  float: left;
  background-image: url(../images/CharlyR.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.menuButton {
  width: 20%;
  height: 100px;
  float: left; }

.menuWeb {
  display: none; }

.mobile-nav {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 25px;
  display: flex;
  align-items: center; }

.nav__charlyr {
  display: none;
  position: fixed;
  top: 100px;
  background-color: #ececec;
  right: 0px;
  z-index: 1001; }

ul {
  padding-left: 0px;
  margin: 0px; }

li {
  padding: 5px 10px;
  list-style: none;
  border-top: 1px solid #2f2f2f;
  font-size: 25px; }

li p {
  margin: 0px; }

#menu-open {
  display: block;
  cursor: pointer; }

#menu,
#menu:before,
#menu:after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background: #6d6d6d;
  position: relative; }

#menu:before {
  top: 15px; }

#menu:after {
  top: -17px; }

#menu-close {
  display: none;
  cursor: pointer; }

#x,
#x:before,
#x:after {
  display: none;
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background: #6d6d6d;
  position: relative; }

#x:before {
  top: 15px; }

#x:after {
  top: -17px; }

#x {
  background: transparent; }

#x:before,
#x:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0; }

#x:before {
  transform: rotate(-45deg); }

@media screen and (min-width: 800px) {
  .menuButton {
    display: none; }

  .logoCharlyR {
    width: 100%; } }
.boxNavWeb {
  display: none; }

@media screen and (min-width: 800px) {
  .boxNavWeb {
    display: block;
    position: fixed;
    margin-top: 100px;
    width: 100%;
    z-index: 2000; }

  .navWeb ul {
    display: flex;
    width: 100%;
    justify-content: space-around; }

  .navWeb ul li {
    border-top: none; }

  .Biogr:hover {
    border-left: 1px solid #2f2f2f; }

  .Oeuvres:hover {
    border-left: 1px solid #2f2f2f; }

  .Philo:hover {
    border-left: 1px solid #2f2f2f; }

  .Contact:hover {
    border-left: 1px solid #2f2f2f; }

  .Citation:hover {
    border-left: 1px solid #2f2f2f; } }
.section__tete {
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: -1;
  background-color: #ececec; }

.section__tete--image {
  width: 100%;
  height: auto;
  margin: 0px; }

.section__biogr {
  display: none;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  padding: 0px 10px 10px 10px;
  background-image: url(../images/bois_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-z-index: 1; }

.section--block {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 15px;
  padding: 5px 15px;
  border: 1px solid #2f2f2f; }

.biogr--tete {
  margin: 16px 15px 15px 0px;
  float: left;
  max-width: 35%;
  max-height: 300px; }

.section__oeuvres {
  display: none;
  height: calc(100vh - 100px);
  max-width: 100%;
  margin-top: 100px;
  background-image: url(../images/pinceau_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }

#container {
  width: calc(100vw - 40px);
  max-height: calc(100vh - 170px);
  overflow: hidden;
  padding: 0px 10px;
  margin: auto; }

#slideshow {
  max-height: calc(100vh - 170px);
  display: flex;
  justify-content: center; }

#slideshow img {
  max-height: 100%;
  max-width: 90%;
  margin: 0px 5%;
  left: 0px;
  right: 0px; }

#prev {
  height: calc(100vh - 170px);
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 150px;
  z-index: 1000; }

#prev img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 10px;
  width: 32px;
  height: 32px; }

#next {
  height: calc(100vh - 170px);
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 150px;
  z-index: 1000; }

#next img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 10px;
  width: 32px;
  height: 32px; }

.section__philo {
  display: none;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  margin-top: 100px;
  padding-bottom: 10px;
  background-image: url(../images/tree_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section__philo--block {
  margin: 10px;
  padding: 5px 10px;
  background: rgba(236, 236, 236, 0.5);
  border: 1px solid #2f2f2f;
  border-radius: 15px; }

.section__contact {
  display: none;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  margin-top: 100px;
  position: relative;
  background-image: url(../images/papier_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section__contact--logo {
  margin-top: 25px;
  margin: auto; }

.address {
  width: 100%;
  margin-bottom: 20px; }

.social {
  font-size: 19px;
  padding-bottom: 10px; }

.section__contact--logo {
  text-align: center; }

.pin {
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin: 0px 22px; }

.insta {
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin: 0px 22px; }

.footer {
  display: none;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  margin-top: 100px;
  padding: 0px 10px 10px 10px;
  background-image: url(../images/bois_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.footer--block {
  margin: 10px;
  padding: 5px 10px;
  background: rgba(236, 236, 236, 0.5);
  border: 1px solid #2f2f2f;
  border-radius: 15px; }

/*# sourceMappingURL=base.css.map */
