/* line 1, ../sass/_general.sass */
h1, h2, h3, h4, h5, h6, a {
  font-family: "Poller One", cursive;
  color: #2f2f2f;
}

/* line 4, ../sass/_general.sass */
h1 {
  font-size: 40px;
}

/* line 6, ../sass/_general.sass */
h2 {
  font-size: 35px;
  margin-left: 15%;
  margin-top: 0px;
}
@media screen and (max-width: 500px) {
  /* line 6, ../sass/_general.sass */
  h2 {
    margin-left: 10%;
  }
}

/* line 12, ../sass/_general.sass */
h3 {
  font-size: 30px;
}

/* line 14, ../sass/_general.sass */
h4 {
  font-size: 25px;
}

/* line 16, ../sass/_general.sass */
h5 {
  font-size: 22.5px;
}

/* line 18, ../sass/_general.sass */
h6 {
  font-size: 20px;
}

/* line 20, ../sass/_general.sass */
p {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
}

/* line 23, ../sass/_general.sass */
a {
  font-family: "Poller One", cursive;
  color: #2f2f2f;
  text-decoration: none;
}

/* line 28, ../sass/_general.sass */
body {
  margin: auto;
  background-color: #6d6d6d;
}

/* line 32, ../sass/_general.sass */
.main {
  padding-left: 160px;
}
@media screen and (max-width: 800px) {
  /* line 32, ../sass/_general.sass */
  .main {
    margin-left: auto;
    margin-top: 10px;
    padding-left: 0px;
    z-index: 1;
  }
}

/* line 1, ../sass/_section__header.sass */
.header__charlyr {
  background-color: #ececec;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
  height: 100vh;
  border-right: 1px solidrgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 800px) {
  /* line 1, ../sass/_section__header.sass */
  .header__charlyr {
    background-color: white;
    min-width: 100%;
    max-height: 100px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    position: fixed;
    border-bottom: 1px solidrgba(0, 0, 0, 0.7);
  }
}
/* line 29, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--img__charlyr {
  display: block;
  background-image: url(../images/CharlyR.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 5px;
  height: 50px;
  width: 150px;
}
@media screen and (max-width: 800px) {
  /* line 29, ../sass/_section__header.sass */
  .header__charlyr .header__charlyr--img__charlyr {
    margin: auto;
    margin-left: 50%;
    left: -135px;
    height: 90px;
    width: 270px;
    opacity: 0.2;
    text-align: center;
    position: absolute;
    z-index: 2;
  }
}
/* line 52, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--nav {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  padding-right: 10px;
}
@media screen and (max-width: 800px) {
  /* line 52, ../sass/_section__header.sass */
  .header__charlyr .header__charlyr--nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    font-size: 15px;
    padding-left: 10px;
    z-index: 3;
  }
}
/* line 69, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--nav li {
  margin: 10px 0px 10px 0px;
  list-style-type: none;
}
/* line 72, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--nav li:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  /* line 75, ../sass/_section__header.sass */
  .header__charlyr .header__charlyr--nav li:last-child:last-child {
    /*margin-bottom: 10px */
    margin-right: 0px 15px 10px 15px;
  }
}
/* line 78, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--nav li a {
  color: #464646;
}
@media screen and (max-width: 800px) {
  /* line 78, ../sass/_section__header.sass */
  .header__charlyr .header__charlyr--nav li a {
    margin: 0px 5px;
    color: #464646;
  }
}
/* line 83, ../sass/_section__header.sass */
.header__charlyr .header__charlyr--nav li a:hover {
  color: black;
}

/*--------------flagues langue----------*/
 *
 * /*.header__charlyr--langue
 *     border: 3px solid rgb(255, 0, 0)
 *     display: block
 *     display: flex
 *     flex-direction: row
 *     justify-content: space-around
 *     align-items: center
 *     height: 50px
 *     @media screen and (max-width:800px)
 *       height: 100%
 *       flex-direction: column
 *       justify-content: space-between
 *       align-items: center
 *       margin-right: 5px
 *     @media screen and (max-width:700px)
 *
 *
 *       /*.header__charlyr--img__fr
 *         display: block
 *         background:
 *           image: url(../images/France.png)
 *           position: center
 *           size: cover
 *         height: 30px
 *         width: 30px
 *         @media screen and (max-width:800px)
 *           height: 25px
 *           width: 25px
 *         @media screen and (max-width:700px)
 *           height: 20px
 *           width: 20px
 *
 *       /*.header__charlyr--img__de
 *         display: block
 *         background:
 *           position: center
 *           size: cover
 *           image: url(../images/Deutsch.png)
 *         height: 30px
 *         width: 30px
 *         @media screen and (max-width:800px)
 *           height: 25px
 *           width: 25px
 *         @media screen and (max-width:700px)
 *           height: 20px
 *           width: 20px
 *
 *       /*.header__charlyr--img__en
 *         display: block
 *         background:
 *           position: center
 *           size: cover
 *           image: url(../images/English.png)
 *         height: 30px
 *         width: 30px
 *         @media screen and (max-width:800px)
 *           height: 25px
 *           width: 25px
 *         @media screen and (max-width:700px)
 *           height: 20px
 *           width: 20px */
/* line 1, ../sass/_section__tete.sass */
.section__tete--image {
  max-height: 200px;
  max-width: 90%;
  right: -100px;
  margin: 50px 0px;
  margin-left: 5%;
  border: 1px solid black;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
}
@media screen and (max-width: 800px) {
  /* line 1, ../sass/_section__tete.sass */
  .section__tete--image {
    margin-top: 120px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  /* line 1, ../sass/_section__tete.sass */
  .section__tete--image {
    max-width: 100%;
    margin-left: 0%;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
}

/* line 1, ../sass/_section__biogr.sass */
.section__biogr {
  max-width: 100%;
  max-height: 500px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 30px 0px;
  background-image: url(../images/bois_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-z-index: 1;
}

/* line 13, ../sass/_section__biogr.sass */
.section--block {
  margin: 0% 10%;
  min-height: 170px;
  background-color: #ececec;
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  /* line 13, ../sass/_section__biogr.sass */
  .section--block {
    max-height: 250px;
    overflow: scroll;
    border-radius: 10px;
  }
}

/* line 28, ../sass/_section__biogr.sass */
.biogr--tete {
  float: left;
  margin-right: 16px;
  margin-bottom: 10px;
  height: 150px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0) solid;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
}

/* line 1, ../sass/_section__oeuvres.sass */
.section__oeuvres {
  max-width: 100%;
  min-height: 900px;
  background-image: url(../images/pinceau_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  /* line 1, ../sass/_section__oeuvres.sass */
  .section__oeuvres {
    min-height: 450px;
  }
}

/* line 14, ../sass/_section__oeuvres.sass */
.section__oeuvres--tableaux {
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 800px) {
  /* line 14, ../sass/_section__oeuvres.sass */
  .section__oeuvres--tableaux {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px 10px;
    height: 300px;
    overflow: scroll;
    padding: 0px;
  }
}

/* line 33, ../sass/_section__oeuvres.sass */
.section__oeuvres--tableaux--images {
  height: 250px;
  width: 250px;
  margin: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  /* line 33, ../sass/_section__oeuvres.sass */
  .section__oeuvres--tableaux--images {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  /* line 33, ../sass/_section__oeuvres.sass */
  .section__oeuvres--tableaux--images {
    margin: 10px 5px;
  }
}

/* line 47, ../sass/_section__oeuvres.sass */
strong {
  position: relative;
  left: -125px;
  z-index: 2;
}
