h1, h2, h3, h4, h5, h6 {
  font-family: "Poller One", cursive;
  color: black;
  text-decoration: underline; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 22.5px; }

h6 {
  font-size: 20px; }

p {
  font-family: "Oxygen", sans-serif; }

a {
  font-family: "Oxygen", sans-serif;
  color: #2f2f2f;
  text-decoration: none; }

body {
  margin: 0px;
  background-color: #6d6d6d; }

.main {
  width: 100%;
  margin: 0px; }

.boiteLogo {
  width: 100%;
  height: 102px;
  position: fixed;
  top: -1px;
  background-color: #ececec; }

.logoCharlyR {
  width: 80%;
  height: 100px;
  float: left;
  background-image: url(../images/CharlyR.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.menuButton {
  width: 20%;
  height: 100px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.menu {
  width: 40px;
  height: 5px;
  margin: 2.5px 0px;
  border-radius: 2px;
  background-color: #6d6d6d; }

.header__charlyr {
  position: absolute;
  background-color: #ececec;
  right: 0px;
  display: none; }

ul {
  padding-left: 0px;
  margin: 0px; }

li {
  padding: 5px 10px;
  list-style: none;
  border-top: 1px solid #2f2f2f;
  font-size: 25px; }

.section__tete {
  display: none;
  margin-top: 101px;
  width: 100%;
  height: calc(100vh - 101px);
  overflow: hidden;
  background-color: #ececec; }

.section__tete--image {
  width: 100%;
  height: auto;
  margin: 0px; }

.section__biogr {
  min-height: calc(100vh - 101px);
  margin: 101px 0px 0px 0px;
  padding: 0px 10px 10px 10px;
  background-image: url(../images/bois_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-z-index: 1; }

.section--block {
  background: pink;
  border-radius: 15px;
  padding: 5px 15px; }

.biogr--tete {
  margin: 16px 15px 15px 0px;
  float: left;
  max-width: 35%;
  max-height: 300px; }

.section__oeuvres {
  max-width: 100%;
  min-height: 900px;
  padding-top: 30px;
  background-image: url(../images/pinceau_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }
  @media screen and (max-width: 800px) {
    .section__oeuvres {
      min-height: 450px; } }

.section__philo {
  max-width: 100%;
  min-height: 500px;
  background-image: url(../images/tree_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media screen and (max-width: 800px) {
    .section__philo {
      min-height: 450px; } }

.section__philo--block {
  border-radius: 15px;
  max-width: 80%;
  height: 80%;
  margin-left: 10%;
  padding-top: 20%;
  padding-left: 55px;
  padding-bottom: 10%;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 800px) {
    .section__philo--block {
      max-height: 300px;
      padding-left: 10px; } }

.section__philo--block--text {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  background-color: #ececec;
  max-width: 500px;
  padding: 15px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid black; }
  @media screen and (max-width: 800px) {
    .section__philo--block--text {
      max-height: 250px;
      max-width: 300px;
      overflow: scroll; } }

.section__contact {
  max-width: 100%;
  min-height: 400px;
  background-image: url(../images/papier_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media screen and (max-width: 800px) {
    .section__contact {
      min-height: 350px; } }

.social {
  font-size: 19px; }

.section__contact--logo {
  text-align: center; }

.pin {
  border-radius: 50%;
  margin: 0px 22px; }

.insta {
  border-radius: 50%;
  margin: 0px 22px; }

.footer {
  max-width: 100%;
  min-height: 100px;
  margin: 0px 0px 0px 0px;
  padding: 25px 0px 30px 0px;
  background-image: url(../images/bois_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-z-index: 1; }

.footer--block {
  font-size: 20px;
  margin: 0% 10%;
  min-height: 170px;
  background-color: #ececec;
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 500px) {
    .footer--block {
      max-height: 250px;
      overflow: scroll;
      border-radius: 10px; } }

/*# sourceMappingURL=base.css.map */
