.footer
    display: none
    min-height: calc(100vh - 100px)
    max-width: 100%
    margin-top: 100px

    padding: 0px 10px 10px 10px
    background:
        image: url(../images/bois_bg.png)
        position: center
        size: cover
        repeat: no-repeat

.footer--block
    margin: 10px
    padding: 5px 10px
    background: rgba(236, 236, 236, 0.5)
    border: 1px solid #2f2f2f
    border-radius: 15px
