h1, h2, h3, h4, h5, h6
    font-family: 'Poller One', cursive
    color: #333
    //text-decoration: underline
h1
    font-size: 30px
h2
    font-size: 35px
    margin-bottom: 10px
    margin-left: 10px
h3
    font-size: 30px
h4
    font-size: 18px
h5
    font-size: 22.5px
h6
    font-size: 20px
p
    font-family: 'Oxygen', sans-serif
a
    font-family: 'Oxygen', sans-serif
    color: #333
    text-decoration: none
body
    margin: 0px
    background-color: #6d6d6d

label
    cursor: pointer


//@media screen and (min-width:500px)
