h1, h2, h3, h4, h5, h6, a
  font-family: 'Poller One', cursive
  color: #2f2f2f
h1
  font-size: 40px
h2
  font-size: 35px
  margin-left: 15%
  margin-top: 0px
  @media screen and (max-width:500px)
    margin-left: 10%
h3
  font-size: 30px
h4
  font-size: 25px
h5
  font-size: 22.5px
h6
  font-size: 20px
p
  font-family: 'Oxygen', sans-serif
  font-size: 16px
a
  font-family: 'Poller One', cursive
  color: #2f2f2f
  text-decoration: none

body
  margin: auto
  background-color: #6d6d6d

.main
  padding-left: 160px
  @media screen and (max-width:800px)
    margin-left: auto
    margin-top: 10px
    padding-left: 0px
    z-index: 1
