.section__philo
  max-width: 100%
  min-height: 500px
  background:
    image: url(../images/tree_bg.png)
    repeat: no-repeat
    position: center
    size: cover
  padding-top: 10%
  padding-bottom: 10%
  @media screen and (max-width:800px)
    min-height: 450px

.section__philo--block
  border-radius: 15px
  max-width: 80%
  height: 80%
  margin-left: 10%
  padding-top: 20%
  padding-left: 55px
  padding-bottom: 10%
  background:
    image: url(../images/tree.jpg)
    repeat: no-repeat
    position: center
    size: cover
  @media screen and (max-width:800px)
    max-height: 300px
    padding-left: 10px

.section__philo--block--text
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7)
  background-color: #ececec
  max-width: 500px
  padding: 15px
  margin-right: 10px
  border-radius: 10px
  border: 1px solid black
  @media screen and (max-width:800px)
    max-height: 250px
    max-width: 300px
    overflow: scroll
