.section__tete--image
  max-height: 200px
  max-width: 90%
  right: -100px
  margin-top: 50px
  margin-left: 5%
  border: 1px solid rgba(0, 0, 0, 1)
  border-radius: 15px 15px 15px 15px
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7)
  @media screen and (max-width:800px)
    margin-top: 10px
