.section__biogr
    display: none
    min-height: calc(100vh - 100px)
    margin-top: 100px
    padding: 0px 10px 10px 10px
    background:
        image: url(../images/bois_bg.png)
        position: center
        size: cover
        repeat: no-repeat
        z-index: 1
.section--block
    background: rgba(236, 236, 236, 0.5)
    border-radius: 15px
    padding: 5px 15px
    border: 1px solid #2f2f2f

.biogr--tete
    margin: 16px 15px 15px 0px
    float: left
    max-width: 35%
    max-height: 300px
@media screen and (min-width:800px)
    .section__biogr
        display: none
        min-height: calc(100vh - 150px)
        margin-top: 150px
