.boiteLogo
    width: 100%
    height: 100px
    position: fixed
    top: 0
    z-index: 1000
    background:
        color: #ececec
.logoCharlyR
    width: 80%
    height: 100px
    float: left
    background:
        image: url(../images/CharlyR.png)
        size: contain
        position: center
        repeat: no-repeat
.menuButton
    width: 20%
    height: 100px
    float: left
.mobile-nav
    width: 50px
    height: 50px
    margin-right: 20px
    margin-top: 25px
    display: flex
    align-items: center



.nav__charlyr
    display: none
    position: fixed
    top: 100px
    background-color: #ececec
    right: 0px
    z-index: 1001
ul
    padding-left: 0px
    margin: 0px
li
    padding: 5px 10px
    list-style: none
    border-top: 1px solid #2f2f2f
    font-size: 25px
li p
    margin: 0px

#menu-open
    display: block

#menu,
#menu:before,
#menu:after
    content: ""
    display: block
    height: 2px
    width: 50px
    background: #6d6d6d
    position: relative
#menu:before
    top: 15px
#menu:after
    top: -17px


#menu-close
    display: none

#x,
#x:before,
#x:after
    display: none
    content: ""
    display: block
    height: 2px
    width: 50px
    background: #6d6d6d
    position: relative
#x:before
    top: 15px
#x:after
    top: -17px

#x
    background: transparent
#x:before,
#x:after
    transform-origin: center
    transform: rotate(45deg)
    top: 0
#x:before
    transform: rotate(-45deg)
