.toggle
    position: fixed
    top: 20px
    left: 20px
    font-size: 50px
    z-index: 1
    color: #333
    &:hover
        color: #af8484
    //background:
        color: #ececec

li
    list-style-type: none
    margin-top: 16px
    a
        color: whitesmoke
        //color: wheat
        //color: #af8484
        &:hover
            color: #af8484
            //color: whitesmoke
            //color: #ececec
.sidebar
    position: fixed
    top: 0px
    bottom: 0px
    left: -190px
    width: 150px
    padding: 30px 0 0 30px
    background: #333
    z-index: 0
#sideBox
    display: none
#sideBox:checked + .mainContent
    .sidebar
        left: 0px
    .toggle
        left: 200px
    .contenu
        padding-left: 180px
    #Biogr
        padding-left: 180px
