@mixin navigation
	border-left: 1px solid #2f2f2f
	border-radius: 5px
	width: 100%
	background: rgba(47, 47, 47, 0.5)
	color: #ececec



.boxNavWeb
	display: none

@media screen and (min-width:800px)
	.boxNavWeb
		display: block
		position: fixed
		top: 100px
		height: 50px
		width: 100%
		z-index: 2000
		background: #ececec

	.navWeb ul
		display: flex
		width: 100%
		justify-content: center
	.navWeb ul li
		border-top: none
		width: 20%
		text-align: center
		//border-left: 1px solid #2f2f2f
	.navWeb ul li a
		display: block
		border-left: 1px solid #2f2f2f
	.biogr:hover
		@include navigation
	.oeuvres:hover
		@include navigation
	.philo:hover
		@include navigation
	.contact:hover
		@include navigation
	.citation:hover
		@include navigation
