.section__contact
    display: none
    height: calc(100vh - 100px)
    max-width: 100%
    margin-top: 100px
    position: relative
    background:
        image: url(../images/papier_bg.png)
        repeat: no-repeat
        position: center
        size: cover
.section__contact--logo
    margin-top: 25px
    margin: auto

.address
    width: 100%
    margin-bottom: 20px
.social
    font-size: 19px
    padding-bottom: 10px
.section__contact--logo
    text-align: center
.pin
    height: 50px
    width: auto
    border-radius: 50%
    margin: 0px 22px
.insta
    height: 50px
    width: auto
    border-radius: 50%
    margin: 0px 22px
@media screen and (min-width:800px)
    .section__contact
        display: none
        height: calc(100vh - 150px)
        max-width: 100%
        margin-top: 150px
    .section__contact--logo
        max-height: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
