.section__tete
    //display: none
    margin-top: 100px
    width: 100%
    height: calc(100vh - 100px)
    position: fixed
    top: 0px
    overflow: hidden
    z-index: -1
    background:
        color: #ececec

.section__tete--image
    width: 100%
    height: auto
    margin: 0px
