.section__oeuvres
    display: none
    height: calc(100vh - 100px)
    max-width: 100%
    margin-top: 100px
    background:
        image: url(../images/pinceau_bg.png)
        repeat: no-repeat
        position: right
        size: cover

#container
    width: calc(100vw - 40px)
    max-height: calc(100vh - 170px)
    overflow: hidden
    padding: 0px 10px
    margin: auto
    position: relative

#slideshow
    max-height: calc(100vh - 170px)
    display: flex
    justify-content: center
    max-width: 705px

#slideshow img
    max-height: 100%
    max-width: 90%
    margin: 0px 5%
    left: 0px
    right: 0px

#prev
    height: calc(100vh - 170px)
    width: 50%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: 1000
#prev img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    margin: auto 10px
    width: 32px
    height: 32px
#next
    height: calc(100vh - 170px)
    width: 50%
    position: absolute
    top: 0
    bottom: 0
    right: 0
    z-index: 1000
#next img
    position: absolute
    top: 0
    bottom: 0
    right: 0
    margin: auto 10px
    width: 32px
    height: 32px
@media screen and (min-width:800px)
    .section__oeuvres
        display: none
        margin-top: 150px
        height: calc(100vh - 150px)
    #prev
        width: 20%
        position: absolute
        top: 0
        bottom: 0
        left: 0
        z-index: 1000
    #prev img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        margin: auto 10px
        width: 64px
        height: 64px
    #next
        width: 20%
        position: absolute
        top: 0
        bottom: 0
        right: 0
        z-index: 1000
    #next img
        position: absolute
        top: 0
        bottom: 0
        right: 0
        margin: auto 10px
        width: 64px
        height: 64px

    #Oeuvres
        display: none
