.boiteLogo
    width: 100%
    height: 102px
    position: fixed
    top: -1px
    background:
        color: #ececec
.logoCharlyR
    width: 80%
    height: 100px
    float: left
    background:
        image: url(../images/CharlyR.png)
        size: contain
        position: center
        repeat: no-repeat
.menuButton
    width: 20%
    height: 100px
    float: left
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.menu
    width: 40px
    height: 5px
    margin: 2.5px 0px
    border-radius: 2px
    background:
        color: #6d6d6d

.header__charlyr
    position: absolute
    background-color: #ececec
    right: 0px
    display: none
ul
    padding-left: 0px
    margin: 0px
li
    padding: 5px 10px
    list-style: none
    border-top: 1px solid #2f2f2f
    font-size: 25px
