.bgContact
    min-height: 100vh
    position: relative
    overflow: hidden

.contactBox
    margin: 50px 0
    height: 70vh

    background:
        image: url(../images/bgContact.jpg)
        repeat: no-repeat
        size: cover
        position: center
    box-shadow: 0 0 15px black

.contactBox
    a
        margin-top: 20px
        margin-bottom: 20px
        font-size: 4em
        @media only screen and (max-width : 992px)
            font-size: 3.5em
        @media only screen and (max-width : 768px)
            font-size: 1.5em
    p
        margin-top: 10px
        font-size: 1em
        color: #f6f5f3


.bgUp
    position: absolute
    height: 1000px
    width: 400px
    top: -450px
    right: 100px
    background:
        color: #d6d6d6
    transform: rotate(-60deg)

.bgDown
    position: absolute
    height: 1000px
    width: 400px
    bottom: -450px
    left: 100px
    background:
        color: #d6d6d6
    transform: rotate(-60deg)


.mail
    display: block
    transition-property: all
    transition-duration: 1s
    text-decoration: underline
.mail:hover
    transform: scale(1.2)
    color: #f6f5f3
    text-decoration: underline


.pinterest
    height: 50px
    display: block
    background:
        image: url(../images/pinterest.png)
        size: contain
        repeat: no-repeat
        position: center

.instagram
    height: 50px
    display: block
    background:
        image: url(../images/instagram.png)
        size: contain
        repeat: no-repeat
        position: center

.socialLogo
    margin-top: 20px
    margin-bottom: 20px

.bgContact
    footer
        position: absolute
        bottom: 0px
