body
    margin: 0
    text-align: center
    font-family: 'Kite One', sans-serif
h3
    text-decoration: underline
a
    text-decoration: none
    font-family: 'Indie Flower', cursive
    color: #f6f5f3
    font-size: 1.5em

a:hover
    text-decoration: none

.container
    margin-left: auto
    margin-right: auto
    position: relative
